<app-loader *ngIf="loading$ | async"></app-loader>

<div class="product-list">
  <div class="container">
    <app-table-empty-state
      *ngIf="!(product$ | async); else isProduct"
    ></app-table-empty-state>

    <ng-template #isProduct>
      <div class="product-header">
        <h1>{{ (product$ | async)?.name }}</h1>

        <p>{{ (product$ | async)?.price }}</p>
      </div>

      <div class="img-container">
        <img [src]="(product$ | async)?.url" [alt]="(product$ | async)?.name" />
      </div>

      <div class="description-container">
        <h2>Description</h2>
        <p class="description">
          {{ (product$ | async)?.description }}
        </p>
      </div>
    </ng-template>
  </div>
</div>
